.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content::-webkit-scrollbar{
  width: 0;
}
.content{
  overflow: auto;
  flex: 1 1 auto;
  margin: auto;
  width: 1200px;
  background: #a966e7;
  height: calc(100vh - 60px - 50px);
  min-height: calc(100vh - 60px - 50px);
}
.colo{
  height: 100vh;
}
